@import "tailwindcss";

:root {
  --main-purple: #5E52FF;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  box-sizing: border-box;
	width: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
	background: url("/bg.png") repeat;
	background-size: 100px;
	color: #fff;
  /* background: #a39cff6c; */
}


.text-purple{
  color: var(--main-purple)
}


.aalahyan::before{
  position: absolute;
  width: 150%;
  height: 150%;
  background-color: #5E52FF;
  top: -25%;
  right: -25%;
  display: block;
  content: '';
  opacity: .5;
  border-radius: 100px;
  filter: blur(50px);
}

.violet-button:hover{
  box-shadow: 5px 3px 0px 0px #5E52FF;
}

.image-box{
  box-shadow: 3px 3px 0 3px #5e52ffb4;
  border-radius: 10px;
  padding: 0 10px 10px 0;
  transition: all ease 300ms;
}

.project-area::-webkit-scrollbar{
  background-color: #48484846;
  width: 2px;
}

.project-area::-webkit-scrollbar-thumb{
  background-color: #5e52ff8e;
}


